# Ignorar a pasta de cache, pois ela é gerada automaticamente pelo servidor.
# Esta é a regra MAIS IMPORTANTE para esta estrutura.
/cache/
/cache/*
cache
resources/\[addons]/\[roupas]/\[zpack]/
resources/\[boom-mapas]/\[k4mb1]/
# Ignorar arquivos de backup que terminam com .bkp ou -bkp

*.bkp
*-bkp.png

# (Opcional) Se você usa VSCode, é bom manter esta regra
.vscode/

# Ignorar todos os arquivos de log
*.log

# Arquivos de configuração específicos do servidor
server.cfg
permissions.cfg

.mcp.json

/db
.replxx_history
resources/[addons]/[roupas]/[zpack]/zpack_1/.fxap
resources/[addons]/[roupas]/[zpack]/zpack_1/fxmanifest.lua
